/* LoginForm.css */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */

.log-btn:hover {
  background-color: #0069d9;
}
.log-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0069d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
